<div class="wrapper">
  <app-sidebar></app-sidebar>
  <div class="content">
    <!--    <router-outlet></router-outlet>-->
<!--    <app-content></app-content>-->

<!--    <app-checking-account-form></app-checking-account-form>-->
<!--    <app-investment-account-form></app-investment-account-form>-->
<!--    <app-saving-account-form></app-saving-account-form>-->

<!--      <app-transaction-form></app-transaction-form>-->
    <!--  <router-outlet></router-outlet>-->

<!--    <app-checking-account></app-checking-account>-->
    <app-investment-account></app-investment-account>
<!--    <app-saving-account></app-saving-account>-->
  </div>
</div>
