app-side-navigator {
  display: flex;
  width: 200px
}

.container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  width: 70%;
  gap: 80px;
  margin: 60px auto auto;
}

app-budget {
  flex-grow: 3;
}
