<mat-card *ngIf="success == false">
  <mat-card-header>
    <mat-card-title>Add a New Budget</mat-card-title>
  </mat-card-header>
  <form name="budgetForm" #addBudget = "ngForm" (ngSubmit) = "onSubmit(addBudget.value)" >
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input name="name" ngModel matInput required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Limit Amount</mat-label>
      <input name="limitAmount" ngModel matInput required>
    </mat-form-field>
    <mat-form-field required>
      <mat-label>Type</mat-label>
      <mat-select name="type" ngModel>
        <mat-option value="ANNUALLY">ANNUALLY</mat-option>
        <mat-option value="QUARTERLY">QUARTERLY</mat-option>
        <mat-option value="MONTHLY">MONTHLY</mat-option>
        <mat-option value="WEEKLY">WEEKLY</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Start Date</mat-label>
      <input name="startDate" ngModel matInput required>
    </mat-form-field>
    <mat-form-field class="example-chip-list">
      <mat-label>Add Categories</mat-label>
      <mat-chip-grid #chipGrid aria-label="Enter categories">
        <mat-chip-row *ngFor="let category of inputCategories"
                      (removed)="remove(category)"
                      [editable]="true"
                      (edited)="edit(category, $event)"
                      [aria-description]="'press enter to edit ' + category.name">
          {{category.name}}
          <button matChipRemove [attr.aria-label]="'remove ' + category.name">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <input required placeholder="New category..."
               [matChipInputFor]="chipGrid"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)"/>
      </mat-chip-grid>
    </mat-form-field>
    <button mat-flat-button color="accent" type="submit" >Add the Budget</button>
    <p class="error" *ngIf="errorExists == true">{{errorMsg}}</p>
  </form>
</mat-card>

<mat-card class="success" *ngIf="success == true">
  <mat-card-header>
    <mat-card-title>Budget Successfully Added! :)</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>You can see it in the side navigation bar when you reload the page.</p>
  </mat-card-content>
</mat-card>


